<div class="dashboard-container">
  <!-- Seção de Cards -->
  <div class="cards-grid">
    @if (cardValorSaldo) {
      <app-money-card [card]="cardValorSaldo"></app-money-card>
    }
    @if (cardValorReceber) {
      <app-money-card [card]="cardValorReceber"></app-money-card>
    }

    @if (cardDividaPendente) {
      <app-money-card [card]="cardDividaPendente"></app-money-card>
    }
    @if (cardDeficit) {
      <app-money-card [card]="cardDeficit"></app-money-card>
    }
  </div>

  <!-- Seção do Gráfico (mantida conforme o historicoFinanceiro) 
  @if (historicoFinanceiro) {
    <div class="chart-container">
      <app-money-chart
        [categories]="historicoFinanceiro.chartCategories"
        [series]="historicoFinanceiro.chartSeries"
      >
      </app-money-chart>
    </div>
  }
-->
  <!-- Tabela de Contas Pendentes -->
  <!--
  <div class="table-container">
    <app-money-table [links]="contasPendentes"></app-money-table>
  </div>
  -->
</div>
