:host {
  display: block;
  padding: 0 !important;
  margin: 0 !important;
}

.dialog-container {
  padding: 12px 8px 4px 8px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  overflow: hidden !important;
  max-height: none !important;
}

/* Cabeçalho */
.dialog-header {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 !important;
  margin: 0 !important;

  h2 {
    font-weight: 700;
    color: var(--text-primary !important);
    margin: 0;
    line-height: 1.3;
  }
}

/* Corpo da mensagem */
.dialog-content {
  padding: 8px 0 10px 50;
  margin: 0 !important;
  color: var(--text-primary !important);
  font-size: 0.95rem;
  line-height: 1.5;

  .dialog-message {
    margin: 0;
    font-weight: 500;
  }
}

/* Botões de Ação */
.dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 0 !important;
  margin: 0 !important;
  min-height: unset !important;

  button {
    border-radius: 8px;
    font-weight: 500;
    font-size: 0.9rem;
    padding: 0 16px;
    height: 38px;
    transition: all 0.2s ease;
  }

  .btn-cancelar {
    color: var(--text-primary);
    background-color: var(--btn-cancel);

    &:hover {
      background-color: var(--btn-cancel-hover);
      color: var(--bg-primary);
    }
  }

  .btn-confirmar {
    background-color: var(--btn-confirm);
    color: var(--text-primary);

    &:hover {
      background-color: var(--btn-confirm-hover);
    }
  }
}
